*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.game-title {
    font-family: 'Roboto', sans-serif; 
    font-size: 4rem; 
    font-weight: bold; 
    color: #ffffff; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


head{
    width: 100%;
    display: inline;
    text-align: center;
    margin-top: 0px;
    position: relative;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0c192c;
}

.wrapper{
    width: 67.6vmin;
    height: 80vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 5px;
    background: rgb(83, 80, 80);
}

.game-details{
    color: bisque;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.navbar{
    background: transparent !important;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.play-board .food{
    background: red;
}

.play-board .head{
    background: green;
}

.nav-link {
    background-image: linear-gradient(to right, #9D50BB 0%, #6E48AA  51%, #9D50BB  100%);
    margin: 10px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px rgb(233, 187, 255);
    border-radius: 10px;
    display: block;
}

.register{
    padding: 8px 10px;
    box-shadow: 0 0 0;
    text-transform: none;
}

.nav-link:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.fa-user {
    margin-right: 5px; 
}

.modal-content {
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 10px; 
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: #fff; 
}

.modal-body {
    padding: 20px;
}


label {
    color: #fff; 
}

.form-control {
    background-color: #333; 
    color: #fff; 
    border: none; 
}

.input-group-text {
    background-color: #333;
    border: none; 
    color: #fff; 
}

.btn-primary {
    background-color: #575757;
    border: none; 
    color: #fff; 
}

.btn-primary:hover {
    background-color: rgb(177, 177, 177) !important; 
    color: #fff;
}

.modal-footer {
    border-top: none;
}

.modal-footer a {
    color: #ffcc00; 
}

.gradient-text {
    font-size: 30px; 
    font-weight: bold; 
    color: transparent; 
    background-image: linear-gradient(to right, #7e26e2, #592bff, #7e26e2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    
}

.list-group-item {
    background-color: #343a40; 
    border: none; 
    display: flex; 
}

.list-group-item:nth-child(odd) {
    background-color: #3d444a; 
}

.list-group-item span {
    flex: 1; 
    text-align: center; 
    color: #fff; 
}

.list-group-item .fw-bold {
    font-weight: bold;
    flex: 1;
}

.first-place-badge {
    max-width: 140px;
    height: 30px;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.custom-badge {
    max-width: 140px;
    height: 30px;
    font-weight: bold; 
    font-size: 0.8rem;
    margin: 0; 
    display: flex;
    background: linear-gradient(45deg, #716f72, #918b94, #313131);
    justify-content: center; 
    align-items: center; 
}

.scoreboard-modal {
    max-height: 500px; 
    overflow-y: auto;
    position: relative;
}

.game-over-screen {
    display: flex;
    position: fixed;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 67.8vmin;
    height: 80vmin;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom, rgba(2, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    color: red;
}


.game-over-screen h2 {
    color: red;
    font-size: 100px;
    margin-bottom: 50px;
}


.game-over-screen p,
.game-over-screen button {
    color: #000;
    background-color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}


.game-over-screen button:hover {
    background-color: #7e26e2;
}

 
.game-over-screen .modal-content {
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 10px; 
}


.game-over-screen .modal-header {
    border-bottom: none;
}

.game-over-screen .modal-title {
    color: #fff; 
}

.game-over-screen .modal-body {
    padding: 20px;
}

.game-over-screen .modal-footer {
    border-top: none;
}

.game-over-screen .modal-footer a {
    color: #ffcc00; 
}



.scoreLabel {
    background: linear-gradient(to right, rgb(59, 57, 57), rgb(59, 57, 57));
    margin: 10px;
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-radius: 25px;
    display: inline-block;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.3s;
  }
  
  .scoreLabel:hover {
    transform: scale(1.05);
  }
  


  button.sound {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }


  button.sound i {
    font-size: 24px;
    color: #ffffff; 
  }

 